.card {
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  display: flex;
  color: #333;

  @include materialshadow(1);
}

.card__content {
  flex: 0 0 60%;
  max-width: 60%;
}

.card__tags {

}